.card-panel {
  margin: 0;
}

.bodyDiv {
  height: 100vh;
}

div.bodyContainer {
  margin-top: 50px !important;
}

.tabs a {
  color: purple;
  font-weight: bold;
  font-size: 18px;
}

.tabs .active {
  background-color: white !important;
}

.auth-content > * {
  height: 470px;
}
