<div class="row">
  <div class="col s12 m12 l10">
    <div class="card postDiv">
      <div class="card-content">
        <form style="padding: 2px" [formGroup]="postForm" novalidate (ngSubmit)="submitPost()">
          <div class="formDiv">
            <textarea formControlName="post" class="materialize-textarea" placeholder="What's in your mind?"></textarea>
            <div class="file-field input-field">
              <div class="row">
                <div class="col s10">
                  <div class="btn">
                    <span>
                      <i class="material-icons">image</i>
                      Image</span
                    >
                    <input type="file" />
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" />
                  </div>
                </div>
                <div class="col s2">
                  <button class="btn postBtn">
                    Post
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
